
{% extends 'base_layout.html' %}
{%  load static from staticfiles %}

{% block content %}


	<div class="container">
		<a style="text-decoration: none;" href="{% url 'Students:editprofile' %}"><button type="button" class="btn btn-danger" style="float: right;"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right:5px;"></span> Edit Profile</button></a>
		<br>
		<br>
		<br>
		<div class= "box-main">
			<div class="box-der green">
				<span style="padding-left: 10px; color:#9EA6BB;"><em>About me</em></span>
			</div>
			<h4 class="details">Academic Details</h4>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1+
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<h4 class="details">Achievements</h4>
			<div class="box-der green">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<div class="box-der green">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<h4 class="details">Training</h4>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<h4 class="details">Skills</h4>
			<div class="box-der green">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<div class="box-der green">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<h4 class="details">Projects</h4>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
			<div class="box-der red">
				<strong class="head"><u>About me</u></strong>
				<div class="desc">
					Detail1
					<br>
					Detail2
					<span style="float:right; margin-right: 10px;"><a href="Profile.html" style="color:black;"><i class="fas fa-trash-alt"></i></a></span>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
{% endblock %}